$dark: #1f1e1e;

// Navbar/footer colors
$navbar-hover-color: #FFAC1C;
$navbar-bg: #17202A;

$btn-primary: #FFA500;

// Window sizes
$extra-large-screen: 1467px;

$large-screen: 1300px;

$tablet-screen: 900px;

$mobile-screen: 700px;